body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	background: #202020;
}

div.allpage {
	//display: block;
	//position: relative;
	//width: 100%;
    text-align: center;
}

div.books_block {
	width: 1224px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

div.book_main {
	display: block;
	float: left;
	width: 200px;
	margin: 2px;
	//border-width: 4px;
	//border: 2px solid transparent;
	//border-style: outset;
	//border-color: #AC3BD4;
}

div.book_cover {
	width: 200px;
	height: 200px;
}

div.book_title {
	background: #60B9CE;
	width: 190px;
	height: 80px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	white-space: normal;
	//color: #015367;
}


div.book_time {
	background: #206676;
	width: 200px;
	height: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #60B9CE;
}


div.book_playlist {
	background: #FF9F40;
    width: 200px;
    //padding-left: 5px;
	//padding-right: 5px;
	//height: 40px;
	font-family: arial, verdana, sans-serif;
	color: #202020;
}

a.book_link {
	text-decoration: none;
	color: #202020;
}

a.book_pl_link {
	text-decoration: none;
	color: #52026E;
}

button.btn {
	width: 200px;
	height: 40px;
	outline: none;
}


div.navigate {
	background: #206676;
	color: #60B9CE;
	width: 1220px;
	top: 2px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	clear: left;
}

a.navigate {
	text-decoration: none;
	color: #60B9CE;
}
